<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>bwbear</servlet-name>
        <servlet-class>com.bwbear.server.BwServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>bwbear</servlet-name>
        <url-pattern>/bwbear</url-pattern>
    </servlet-mapping>
</web-app>
